In [15]:
import pandas as pd
cat_data = pd.read_excel('dummy_variable.xlsx')
cat_data.head()

   index  Salary  Exp      Education Managerial_Pos
0      1   13876    1       Graduate            Yes
1      2   11608    1            PhD             No
2      3   18701    1            PhD            Yes
3      4   11283    1  Post-Graduate             No
4      5   11767    1            PhD             No

In [16]:
df = pd.get_dummies(cat_data, columns=['Education', 'Managerial_Pos'],drop_first=True)
df.head()

,index,Salary,Exp,Education_PhD,Education_Post-Graduate,Managerial_Pos_Yes
0,1,13876,1,0,0,1
1,2,11608,1,1,0,0
2,3,18701,1,1,0,1
3,4,11283,1,0,1,0
4,5,11767,1,1,0,0

In [17]:
import statsmodels.api as sm
X = df[['Exp','Education_PhD','Education_Post-Graduate','Managerial_Pos_Yes']] 
Y = df['Salary']
X = sm.add_constant(X) 

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.957
Model:                            OLS   Adj. R-squared:                  0.953
Method:                 Least Squares   F-statistic:                     226.8
Date:                Tue, 21 Jun 2022   Prob (F-statistic):           2.23e-27
Time:                        21:33:20   Log-Likelihood:                -381.63
No. Observations:                  46   AIC:                             773.3
Df Residuals:                      41   BIC:                             782.4
Df Model:                           4
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                    8035.5976    386.689     20.781      0.000    7254.663    8816.532
Exp                       546.1840     30.519     17.896      0.000     484.549     607.819
Education_PhD            2996.2103    411.753      7.277      0.000    2164.659    3827.762
Education_Post-Graduate  3144.0352    361.968      8.686      0.000    2413.025    3875.045
Managerial_Pos_Yes       6883.5310    313.919     21.928      0.000    6249.559    7517.503
==============================================================================
Omnibus:                        2.293   Durbin-Watson:                   2.237
Prob(Omnibus):                  0.318   Jarque-Bera (JB):                1.362
Skew:                          -0.077   Prob(JB):                        0.506
Kurtosis:                       2.171   Cond. No.                         33.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
# interaction_df = pd.DataFrame()
df['Phd_Mgr'] = df['Education_PhD'] * df['Managerial_Pos_Yes']
df['PG_Mgr'] = df['Education_Post-Graduate'] * df['Managerial_Pos_Yes']
df.head()

,index,Salary,Exp,Education_PhD,Education_Post-Graduate,Managerial_Pos_Yes,Phd_Mgr,PG_Mgr
0,1,13876,1,0,0,1,0,0
1,2,11608,1,1,0,0,0,0
2,3,18701,1,1,0,1,1,0
3,4,11283,1,0,1,0,0,0
4,5,11767,1,1,0,0,0,0

In [42]:
X = df[['Exp','Education_PhD','Education_Post-Graduate','Managerial_Pos_Yes','Phd_Mgr','PG_Mgr']] 
Y = df['Salary']
X = sm.add_constant(X) 

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                     5517.
Date:                Tue, 21 Jun 2022   Prob (F-statistic):           1.67e-55
Time:                        22:21:04   Log-Likelihood:                -298.74
No. Observations:                  46   AIC:                             611.5
Df Residuals:                      39   BIC:                             624.3
Df Model:                           6
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                    9472.6854     80.344    117.902      0.000    9310.175    9635.196
Exp                       496.9870      5.566     89.283      0.000     485.728     508.246
Education_PhD            1730.7483    105.334     16.431      0.000    1517.690    1943.806
Education_Post-Graduate  1381.6706     77.319     17.870      0.000    1225.279    1538.063
Managerial_Pos_Yes       3981.3769    101.175     39.351      0.000    3776.732    4186.022
Phd_Mgr                  3066.0351    149.330     20.532      0.000    2763.986    3368.084
PG_Mgr                   4902.5231    131.359     37.322      0.000    4636.825    5168.222
==============================================================================
Omnibus:                       74.761   Durbin-Watson:                   2.244
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1037.873
Skew:                          -4.103   Prob(JB):                    4.25e-226
Kurtosis:                      24.776   Cond. No.                         79.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.